<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxIdle" value="${redis.pool.maxIdle}" />
		<property name="maxTotal" value="${redis.pool.maxActive}" />
		<property name="maxWaitMillis" value="${redis.pool.maxWait}" />
		<property name="testOnBorrow" value="${redis.pool.testOnBorrow}" />
		<property name="testOnReturn" value="${redis.pool.testOnReturn}" />
	</bean>

	<!-- 主 -->
	<bean name="master" class="redis.clients.jedis.JedisShardInfo">
		<constructor-arg index="0" value="${redis.master.host}" />
		<constructor-arg index="1" value="${redis.master.port}" />
		<constructor-arg index="2" value="${redis.master.timeout}" />
		<property name="password"  value="${redis.master.password}" />
	</bean>

	<!-- 从 -->
	<bean name="slaver" class="redis.clients.jedis.JedisShardInfo">
		<constructor-arg index="0" value="${redis.slaver.host}" />
		<constructor-arg index="1" value="${redis.slaver.port}" />
		<constructor-arg index="2" value="${redis.slaver.timeout}" />
<!-- 		<constructor-arg index="3" value="${redisCacheName1}" /> -->
		<property name="password"  value="${redis.slaver.password}"></property>
	</bean>

	<bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool"
		scope="singleton">
		<constructor-arg index="0" ref="jedisPoolConfig" />
		<constructor-arg index="1">
			<list>
				<ref bean="master" />
				<ref bean="slaver" />
			</list>
		</constructor-arg>
	</bean>
	<bean id="redisDataSource" class="co.jufeng.redis.RedisDataSource">
		<property name="shardedJedisPool" ref="shardedJedisPool" />
		<property name="name" value="sdffs" />
	</bean>
	<bean id="redisTemplate" class="co.jufeng.redis.RedisTemplate">
		<property name="redisDataSource" ref="redisDataSource" />
	</bean>
</beans>