<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>登录</title>
</head>
<body>

<!--<img alt="如果看不清楚，请单击图片刷新！" src="../../static/imgs/abc.zip" th:src="@{/captcha.jpg(t=1482595675162)}" class="pointer"/>-->

<form action="#" th:action="@{/login/index.do}" th:object="${loginFormVo}" method="post">
    <table>
        <tr>
            <td>用户名:</td>
            <td><input type="text" th:field="*{username}" /></td>
            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">用户名错误</td>
        </tr>
        <tr>
            <td>密码:</td>
            <td><input type="text" th:field="*{password}" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">密码错误</td>
        </tr>
        <tr>
            <td><button type="submit">提交</button></td>
        </tr>
    </table>
</form>


</body>
</html>