<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Auth0 Servlet Partner</display-name>

    <!-- Servlets -->
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.auth0.example.LogoutController</servlet-class>
        <init-param>
            <param-name>on_logout_redirect_to</param-name>
            <param-value>/portal/home</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.auth0.example.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectCallbackController</servlet-name>
        <servlet-class>com.auth0.Auth0ServletCallback</servlet-class>
        <init-param>
            <param-name>auth0.redirect_on_success</param-name>
            <param-value>/portal/home</param-value>
        </init-param>
        <init-param>
            <param-name>auth0.redirect_on_error</param-name>
            <param-value>/portal/home</param-value>
        </init-param>
    </servlet>

    <!-- Servlet Mappings -->
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/portal/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectCallbackController</servlet-name>
        <url-pattern>/callback</url-pattern>
    </servlet-mapping>

    <!-- Error Pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/portal/home</location>
    </error-page>

    <!-- Auth0 Configuration -->
    <context-param>
        <param-name>auth0.domain</param-name>
        <param-value>{DOMAIN}</param-value>
    </context-param>

    <context-param>
        <param-name>auth0.issuer</param-name>
        <param-value>{ISSUER}</param-value>
    </context-param>

    <context-param>
        <param-name>auth0.client_id</param-name>
        <param-value>{CLIENT_ID}</param-value>
    </context-param>

    <context-param>
        <param-name>auth0.client_secret</param-name>
        <param-value>{CLIENT_SECRET}</param-value>
    </context-param>

    <context-param>
        <param-name>auth0.connection</param-name>
        <param-value>{CONNECTION}</param-value>
    </context-param>

    <context-param>
        <param-name>auth0.signing_algorithm</param-name>
        <param-value>HS256</param-value>
    </context-param>

    <!-- App Configuration -->

    <context-param>
        <param-name>auth0.partner_login_url</param-name>
        <param-value>http://app1.com:3099/partner</param-value>
    </context-param>

    <context-param>
        <param-name>auth0.login_callback</param-name>
        <param-value>/callback</param-value>
    </context-param>

    <context-param>
        <param-name>auth0.logout_endpoint</param-name>
        <param-value>/logout</param-value>
    </context-param>

    <context-param>
        <param-name>log4jConfiguration</param-name>
        <param-value>log4j2.xml</param-value>
    </context-param>

</web-app>
